<div class="wrapper page-inner content-fixed">
    <div class="conatiner w-100">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default   mt-16">
                <mat-accordion>



                    <!-- bitcoin start -->
                    <mat-expansion-panel (opened)="openBTC()">
                        <mat-expansion-panel-header class="p-t5" matRipple>
                            <div class="accor-div">
                                <span>
                                    <img src="assets/images/currency-icons/cryptocurrency-icon.png" alt=""
                                        style="width: 40px;">
                                </span>
                                <span>
                                    Bitcoin
                                </span>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10">{{bitCoinBalance}} BTC</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10">€ {{btcToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10" [ngStyle]="{'color':exchangeRateBitCoin > 0 ? '#00c51c' : 'red' }">
                                    <span *ngIf="exchangeRateBitCoin > 0">+</span>{{exchangeRateBitCoin}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="row mt-3 text-center" *ngIf="!btcWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !btcWalletStatus}" [disabled]="btcWalletStatus" (click)="activateBTCWallet()">Activate Wallet</button>
                            </div>
                        </div>
                        <div @slideToLeft *ngIf="btcWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendBitcoin()">Send</button>
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieBitcoin()">Recieve</button>
                                </div>
                            </div>
                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>
                            </div>


                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchBitCoin($event.target.value)" placeholder="Search Transactions">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="bitCoinDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/cryptocurrency-icon.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record">{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.txId}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button>View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthBitcoin" [pageSize]="limitBitcoin" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons (page)="getBitCoinTnx($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- bitcoin end -->








                    <!-- etherium start -->
                    <mat-expansion-panel class="mt-10 " (opened)="openEthereum() ">
                        <mat-expansion-panel-header class="p-t5 " matRipple>
                            <div class="accor-div ">
                                <span>
                                    <img src="assets/images/currency-icons/Ethereum-ETH-icon.png " alt=" "
                                        style="width: 40px; ">
                                </span>
                                <span>
                                    Ethereum
                                </span>
                            </div>
                            <div class="accor-div ">
                                <p class="mt-10 ">{{ethereumBalance}} ETH</p>
                            </div>
                            <div class="accor-div ">
                                <p class="mt-10 ">€ {{ethToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div ">
                                <p class="mt-10 " [ngStyle]="{ 'color':exchangeRateEth> 0 ? '#00c51c' : 'red' }"><span *ngIf="exchangeRateEth > 0">+</span>{{exchangeRateEth}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="row mt-3 text-center" *ngIf="!ethWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !ethWalletStatus}" [disabled]="ethWalletStatus" (click)="activateETHWallet()">Activate Wallet</button>
                            </div>
                        </div>
                        <div *ngIf="ethWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendEthereum()">Send</button>
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieEthereum()">Recieve</button>
                                </div>
                            </div>
                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>
                            </div>
                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchEtherum($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="ethereumDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/Ethereum-ETH-icon.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record" [ngStyle]="{'color':trnxType === 'receive' ? 'red' : 'green' }"><span *ngIf="trnxType === receive">+</span>{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.txId}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button (click)="showTnxId()">View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthEthereum" [pageSize]="limitEtherum" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons (page)="getEthereumTnx($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- etherium end -->










                    <!-- tether start -->
                    <mat-expansion-panel class="mt-10" (opened)="openUSDT()">
                        <mat-expansion-panel-header class="p-t5" matRipple>
                            <div class="accor-div">
                                <span>
                                    <img src="assets/images/currency-icons/Tether-USDT-icon.png" alt=""
                                        style="width: 40px;">
                                </span>
                                <span>
                                    Tether
                                </span>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10">{{tetherBalance}} USDT</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10">€ {{tetherToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10" [ngStyle]="{'color':exchangeRateTether > 0 ? '#00c51c' : 'red' }"><span *ngIf="exchangeRateTether > 0">+</span>{{exchangeRateTether}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="row mt-3 text-center" *ngIf="!tetherWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !tetherWalletStatus}" [disabled]="tetherWalletStatus" (click)="activateTetherWallet()">Activate Wallet</button>
                            </div>
                        </div>
                        <div *ngIf="tetherWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendTether()">Send</button>

                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieTether()">Recieve</button>

                                </div>
                            </div>

                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>

                            </div>
                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchTether($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="tetherDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/Tether-USDT-icon.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record" [ngStyle]="{'color':trnxType === 'receive' ? 'red' : 'green' }"><span *ngIf="trnxType === receive">+</span>{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.trnxn_Obj.txid}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button (click)="showTnxId()">View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthTether" [pageSize]="limitTether" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons (page)="getTetherTnx($event)">
                                </mat-paginator>
                            </div>
                        </div>

                    </mat-expansion-panel>
                    <!-- tether end -->










                    <!-- litecoin start -->
                    <mat-expansion-panel class="mt-10" (opened)="openLiteCoin()">
                        <mat-expansion-panel-header class="p-t5" matRipple>
                            <div class="accor-div">
                                <span>
                                    <img src="assets/images/currency-icons/Litecoin-LTC-icon.png" alt=""
                                        style="width: 40px;">
                                </span>
                                <span>
                                    Litecoin
                                </span>
                            </div>

                            <div class="accor-div">
                                <p class="mt-10">{{liteCoinBalance}} LTC</p>

                            </div>
                            <div class="accor-div">
                                <p class="mt-10">€ {{ltcToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10" [ngStyle]="{'color':exchangeRateLiteCoin > 0 ? '#00c51c' : 'red' }">
                                    <span *ngIf="exchangeRateLiteCoin > 0">+</span>{{exchangeRateLiteCoin}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>

                        </mat-expansion-panel-header>

                        <div class="row mt-3 text-center" *ngIf="!liteCoinWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !liteCoinWalletStatus}" [disabled]="liteCoinWalletStatus" (click)="activateLiteCoinWallet()">Activate Wallet</button>
                            </div>
                        </div>
                        <div *ngIf="liteCoinWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendLiteCoin()">Send</button>

                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieLiteCoin()">Recieve</button>

                                </div>
                            </div>

                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>

                            </div>

                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchLitecoin($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="litecoinDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/Litecoin-LTC-icon.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record" [ngStyle]="{'color':trnxType === 'receive' ? 'red' : 'green' }"><span *ngIf="trnxType === receive">+</span>{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.trnxn_Obj.txid}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button (click)="showTnxId()">View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthLitecoin" [pageSize]="limitLitecoin" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons (page)="getLitecoinTnx($event)">
                                </mat-paginator>
                            </div>
                        </div>

                    </mat-expansion-panel>
                    <!-- litecoin end -->











                    <!-- monero start -->
                    <mat-expansion-panel class="mt-10" (opened)="openMonero()">
                        <mat-expansion-panel-header class="p-t5" matRipple>
                            <div class="accor-div">
                                <span>
                                    <img src="assets/images/currency-icons/monero-symbol-on-white-1280.png" alt=""
                                        style="width: 40px;">
                                </span>
                                <span>
                                    Monero
                                </span>
                            </div>

                            <div class="accor-div">
                                <p class="mt-10">{{moneroBalace}} XMR</p>

                            </div>
                            <div class="accor-div">
                                <p class="mt-10">€ {{moneroToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10" [ngStyle]="{'color':exchangeRateMonero > 0 ? '#00c51c' : 'red' }"><span *ngIf="exchangeRateMonero > 0">+</span>{{exchangeRateMonero}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>
                        </mat-expansion-panel-header>

                        <div class="row mt-3 text-center" *ngIf="!moneroWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !moneroWalletStatus}" [disabled]="moneroWalletStatus" (click)="activateMoneroWallet()">Activate Wallet</button>
                            </div>
                        </div>
                        <div *ngIf="moneroWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendMonero()">Send</button>

                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieMonero()">Recieve</button>

                                    <!-- <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="tradeMonero()">Trade</button> -->
                                </div>
                            </div>
                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>

                            </div>
                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchMonero($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="moneroDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/monero-symbol-on-white-1280.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record" [ngStyle]="{'color':trnxType === 'receive' ? 'red' : 'green' }"><span *ngIf="trnxType === receive">+</span>{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.trnxn_Obj.txid}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button (click)="showTnxId()">View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthMonero" [pageSize]="limitMonero" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons (page)="getMoneroTnx($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- monero end -->








                    <!-- bitcoin cash start -->
                    <mat-expansion-panel class="mt-10" (opened)="openBCH()">
                        <mat-expansion-panel-header class="p-t5" matRipple>


                            <div class="accor-div">
                                <span>
                                    <img src="assets/images/currency-icons/Bitcoin-Cash-BCH-icon.png" alt=""
                                        style="width: 40px;">
                                </span>
                                <span>
                                    Bitcoin Cash
                                </span>
                            </div>

                            <div class="accor-div">
                                <p class="mt-10">{{bitcashBalance}} BCH</p>

                            </div>
                            <div class="accor-div">
                                <p class="mt-10">€ {{bitcashToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10" [ngStyle]="{'color':exchangeRateBitCash > 0 ? '#00c51c' : 'red' }">
                                    <span *ngIf="exchangeRateBitCash > 0">+</span>{{exchangeRateBitCash}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>

                        </mat-expansion-panel-header>

                        <div class="row mt-3 text-center" *ngIf="!bchWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !bchWalletStatus}" [disabled]="bchWalletStatus" (click)="activateBCHWallet()">Activate Wallet</button>
                            </div>
                        </div>

                        <div *ngIf="bchWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendBCH()">Send</button>

                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieBCH()">Recieve</button>

                                    <!-- <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="tradeBCH()">Trade</button> -->
                                </div>
                            </div>

                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>

                            </div>


                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchBitcash($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="bitcashDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/Bitcoin-Cash-BCH-icon.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record" [ngStyle]="{'color':trnxType === 'receive' ? 'red' : 'green' }"><span *ngIf="trnxType === receive">+</span>{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.trnxn_Obj.txid}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button (click)="showTnxId()">View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthBitCash" [pageSize]="limitBitcash" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons (page)="getBitCashTnx($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- bitcoin cash end -->









                    <!-- ripple start -->
                    <mat-expansion-panel class="mt-10" (opened)="openXRP()">
                        <mat-expansion-panel-header class="p-t5" matRipple>
                            <div class="accor-div">
                                <span>
                                    <img src="assets/images/currency-icons/ripple_xrp_coin-512.png" alt=""
                                        style="width: 40px;">
                                </span>
                                <span>
                                    Ripple
                                </span>
                            </div>

                            <div class="accor-div">
                                <p class="mt-10 wrap">{{rippleBalance}} XRP</p>

                            </div>
                            <div class="accor-div">
                                <p class="mt-10">€ {{rippleToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10" [ngStyle]="{'color':exchangeRateRipple > 0 ? '#00c51c' : 'red' }"><span *ngIf="exchangeRateRipple > 0">+</span>{{exchangeRateRipple}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>
                        </mat-expansion-panel-header>

                        <div class="row mt-3 text-center" *ngIf="!rippleWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !rippleWalletStatus}" [disabled]="rippleWalletStatus" (click)="activateXRPWallet()">Activate Wallet</button>
                            </div>

                        </div>
                        <div *ngIf="rippleWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendRipple()">Send</button>

                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieRipple()">Recieve</button>

                                    <!-- <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="tradeRipple()">Trade</button> -->
                                </div>
                            </div>

                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>
                            </div>
                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchRipple($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="rippleDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/ripple_xrp_coin-512.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record" [ngStyle]="{'color':trnxType === 'receive' ? 'red' : 'green' }"><span *ngIf="trnxType === receive">+</span>{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.txId}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button (click)="showTnxId()">View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthRipple" showFirstLastButtons [pageSize]="limitRipple" [pageSizeOptions]="[5, 10, 15]" (page)="getRipplePage($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- ripple start -->










                    <!-- steller start -->
                    <mat-expansion-panel class="mt-10" (opened)="openSteller()">
                        <mat-expansion-panel-header class="p-t5" matRipple>
                            <div class="accor-div">
                                <span>
                                    <img src="assets/images/currency-icons/stellar_xlm-512.png" alt=""
                                        style="width: 40px;">
                                </span>
                                <span>
                                    Stellar
                                </span>
                            </div>

                            <div class="accor-div">
                                <p class="mt-10">{{stellarBalance}} XLM</p>

                            </div>
                            <div class="accor-div">
                                <p class="mt-10">€ {{stellarToEuro | number:'1.1-2'}}</p>
                            </div>
                            <div class="accor-div">
                                <p class="mt-10" [ngStyle]="{'color':exchangeRateStaller > 0 ? '#00c51c' : 'red' }">
                                    <span *ngIf="exchangeRateStaller > 0">+</span>{{exchangeRateStaller}}%</p>
                            </div>
                            <div class="accor-div">
                                <chart style="width: 100%; height: 100%; display: block;" [options]="options"></chart>
                            </div>
                        </mat-expansion-panel-header>

                        <div class="row mt-3 text-center" *ngIf="!stellerWalletStatus">
                            <div class="col-md-12">
                                <button type="button" mat-raised-button class=" text-center ml-3" style="color: #fff;" [ngClass]="{'grad-css': !stellerWalletStatus}" [disabled]="stellerWalletStatus" (click)="activateStellarWallet()">Activate Wallet</button>
                            </div>
                        </div>
                        <div *ngIf="stellerWalletStatus">
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="sendStellar()">Send</button>

                                    <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="recevieStellar()">Recieve</button>

                                    <!-- <button type="button" mat-raised-button class="  grad-css ml-3" style="color: #fff;" (click)="tradeStellar()">Trade</button> -->
                                </div>
                            </div>
                            <div class=" mt-3">
                                <h5>Cryptocurrencies Transactions</h5>

                            </div>
                            <div class="table-res mt-10 mat-elevation-z8">
                                <mat-form-field class="wd-100" style="padding: 13px;">
                                    <input matInput (keyup)="searchStellar($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                                <table matSort mat-table [dataSource]="stellarDataSource" class="mat-elevation-z8">


                                    <ng-container matColumnDef="currencyType">
                                        <th mat-header-cell *matHeaderCellDef>Currency</th>
                                        <td mat-cell *matCellDef="let record"><img src="../../../../assets/images/currency-icons/stellar_xlm-512.png" style="width: 20px"></td>
                                    </ng-container>


                                    <ng-container matColumnDef="receiverAddress">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.receiverAddress}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                                        <td mat-cell *matCellDef="let record">{{record.amount}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="timestamp">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                        <td mat-cell *matCellDef="let record"> {{record.timestamp | date:'medium'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="trnxFee">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Fee</th>
                                        <td mat-cell *matCellDef="let record"> {{record.trnxFee}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hash">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tnx Id</th>
                                        <td mat-cell *matCellDef="let record" class="wrap"> {{record.txId}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let record"><button mat-icon-button>View</button></td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="totalLengthStellar" showFirstLastButtons [pageSize]="limitStellar" [pageSizeOptions]="[5, 10, 15]" (page)="getStellarPage($event)">
                                </mat-paginator>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <!-- steller end -->



                </mat-accordion>
            </div>
        </div>
    </div>
</div>